<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<head>

  <%= stylesheet_link_tag "im_reader/reader", "data-turbo-track": "reload" %>

  <%= javascript_include_tag 'im_reader/reader', 'data-turbolinks-track' => false %>

  <%= yield :head %>

  <title>Immatériel epub reader</title>

  <%= csrf_meta_tags %>
</head>

<body>

<div id="epub_reader_container">
  <%= yield %>
</div>
<%= javascript_include_tag params[:controller] if ::Rails.application.assets_manifest.assets["#{params[:controller]}.js"] %>
</body>
</html>
